*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    color: azure;
}

li{
    list-style-type: none;
    width: 75%;
    text-align: center;
    padding: 15px;
    color: black;
    font-family: 'Roboto', sans-serif;
    font-size: 1.2em;
}

.ctn-all{
    height: 100vh;
}

header{
    font-size: 1.2em;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 12vh;
    background-color: #00b894;
}

.ctn-todo{
    height: 88vh;
    display: flex;
    align-items: center;
    background-color: #2d3436;
    flex-direction: column;
}

input{
    width: 90%;
    resize: none;
    background-color: #dfe6e9;
    padding: 15px;
    border-radius: 8px 0px 0px 8px;
    border: none;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    white-space: nowrap;
    overflow: hidden;
    white-space: pre-wrap;
}

input:focus{
    outline:none;
}

textarea::placeholder{
     font-family: 'Roboto', sans-serif;
     font-size: 1em;
}

textarea:focus, button:focus{
    outline: none;
}

button[type="submit"]{
    width: 10%;
    border-radius: 0px 8px 8px 0px;
    border: none;
    cursor: pointer;
    background-color: #00b894;
}

button[type="submit"]:focus{
    background-color: #079992;
}

form{
    -webkit-box-shadow: 10px 10px 72px 6px rgba(0,0,0,0.25);
    -moz-box-shadow: 10px 10px 72px 6px rgba(0,0,0,0.25);
    box-shadow: 10px 10px 72px 6px rgba(0,0,0,0.25);
    display: flex;
    width: 45%;
    height: 50px;
    margin-top: 10vh;
}

.fa{
    color: white;
    pointer-events: none;
}

.todos{
    width: 100%;
    height: 50vh;
    top: 30vh;
    border-radius: 8px 8px 8px 8px;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    margin-top: 5vh;
}

.todo-list{
    margin: auto;
    position: relative;
    border-radius: 8px 8px 8px 8px;
    width: 30%;
    height: 100%;
}

.todo{
    display: flex;
    margin-top: 10px;
    width: 100%;
    background-color: #dfe6e9;
    border-radius: 8px 8px 8px 8px;
}


.delete, .checked{
    width: 15%;
    border: none;
    cursor: pointer;
    background-color: #00b894;
}

.delete{
    background-color: #eb2f06;  
    border-radius: 0px 8px 8px 0px;
}

.validate{
    background-color: green;
}